@import "../../styles/index.scss";

.Button {
  @include borders;
  @include buttons;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 20px;
  }
  &.visible {
    border: 1px solid #7b7b7b;
  }
}
